[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
xgboost = "==2.0.0"
numpy = "*"
scikit-learn = "*"
flask = "*"
waitress = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.11"
